/aula01/nbproject/private/
/aula04/nbproject/private/
/aula04/build/
/aula5/nbproject/private/
/aula5/build/
/aula05/nbproject/private/
/aula06/nbproject/private/
/aula06/build/
/aula07_UltraEmojiCombat/nbproject/private/
/aula07_UltraEmojiCombat/build/
/aula09/nbproject/private/
/aula09/build/
/aula09/dist/
/aula10/nbproject/private/
/aula10/build/
/aula11/nbproject/private/
/aula11/build/
/aula12/nbproject/private/
/aula12/build/